.home-content {
    animation: home 600ms ease 0s 1 normal forwards;
}
@keyframes home {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.home-img {
    animation: home-img 600ms ease 0s 1 normal forwards;
}
@keyframes home-img {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.about-img {
    animation: about-img 600ms ease 0s 1 normal forwards;
}
@keyframes about-img {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.about-content {
    animation: about-content 300ms ease 0s 1 normal forwards;
}
@keyframes about-content {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideLeft {
	0% {
		opacity: 0;
	  	transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
  }
  
@keyframes slideRight {
	0% {
		opacity: 0;
	  	transform: translateX(-100%);
	}
	100% {
		opacity: 1;
	  	transform: translateX(0);
	}
}
@keyframes error {
	0% {
	  	transform: translateX(0);
	}
	20% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(10px);
	}
	60% {
		transform: translateX(-10px);
	}
	80% {
		transform: translateX(10px);
	}
	100% {
	  	transform: translateX(0);
	}
}
  

#loader-1 {
    position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
    background-color: rgba(4, 0, 0, 0.489); /* Semi-transparent white background */
    display: none;
    z-index: 99;
}
#loader-2 {
    position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
    background-color: rgba(4, 0, 0, 0.489); /* Semi-transparent white background */
    display: none;
    z-index: 99;
}
#loader-3 {
    position: fixed;
	width: 30%;
	height: 10%;
	bottom: 0;
	backdrop-filter: blur(10px);
    background-color: rgba(4, 0, 0, 0.489); /* Semi-transparent white background */
    display: none;
	border-radius: 5px;
	margin: 30px;
    z-index: 99;
	animation: fadeUp 500ms ease-in-out;
}
@media only screen and (max-width: 764px) {
	#loader-3 {
		width: 60%;
		height: 5%;
	}
}

@keyframes fadeUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

div [id ^= "loader-"] p{
	position: relative;
	display: flex;
	justify-content: center;
	margin: 50px;
}
#loader-3 p{
	position: relative;
	display: flex;
	align-items: center;
	margin: 10px;
	font-size: 1.2rem;
	font-weight: 600;
}
#loader-3 img{
	position: relative;
	width: 3%;
}
div [id ^= "loader-"] img{
	position: relative;
	width: 3%;
}
.loader-spin {
    position: relative;
    border: 3px 5px solid transparent;
    border-top: 8px solid var(--main-color);
    border-radius: 50%;
	top: 50%;
	left: 47%;
	margin: 0;
	transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
	transition: 200ms ease-in-out;
    animation: spin 1s linear infinite;
}
.loader-spin-2 {
    position: relative;
    border: 3px 5px solid transparent;
    border-top: 8px solid var(--second-color);
    border-radius: 50%;
	top: 50%;
	left: 47%;
	margin: 0;
	transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
	transition: 200ms ease-in-out;
    animation: spin 1s linear infinite;
}
.loader-spin-3 {
    position: relative;
	right: 50%;
    border: 3px 5px solid transparent;
    border-top: 3px solid var(--second-color);
    border-radius: 50%;
	top: 5%;
	left: 5%;
	margin: 0;
	transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
	transition: 200ms ease-in-out;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        width: 100px;
        height: 100px;
    }
    50% {
        width: 50px;
        height: 50px;
    }
    100% {
        transform: rotate(360deg);
        width: 100px;
        height: 100px;
    }
}


#livenow {
	animation: fadein-out 2s infinite;
}

@keyframes fadein-out {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}